page-todo-details {
    div.todo-content {
        margin-top: 30px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.7) !important;
    }

    p, h3 {
        font-family: arial sans-serif;
        color: white !important;
    }

    p {
        font-size: 20px !important;
    }

    h3 {
        font-size: 25px !important;
    }

    small {
        font-size: 14px;
        color: white;
    }
}
