<!--
  Generated template for the TodoDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Todo Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="todo-content">
    <h3>{{ todo.name }}</h3>
    <p *ngIf="todo.description" >{{ todo.description }}</p>
    <small *ngIf="todo.date.date" >{{ todo.date.date }}</small><br>
    <small *ngIf="todo.date.time" >{{ todo.date.time }}</small>
    <button ion-button block color="primary" *ngIf="todo.position.lat"  (click)="loadGoogleMaps()">Directions</button>
  </div>
</ion-content>
