<ion-header>
    <ion-navbar>
      <ion-toolbar>
        <ion-title>
            Welcome to Alick's todo app
        </ion-title>
        <ion-buttons end>
          <button ion-button (click)="createTodo()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-list>
    Todos
    <div *ngFor="let todo of todoList; let i = index" >
      <ion-item *ngIf="todoList.length === 0" >
        <ion-label>No todo added yet</ion-label>
      </ion-item>
      <ion-item *ngIf="todoList.length > 0">
        <ion-checkbox start color="primary" [checked]="todo.done" (click)="toggleTodo(i)"></ion-checkbox>
        <ion-label>{{ todo.name }}</ion-label>
      </ion-item>
    </div>
    <br>
    Done todos
    <div *ngFor="let todoDone of todoDoneList; let i = index" >
      <ion-item-sliding #item>
        <ion-item>
            <ion-checkbox start color="primary" [checked]="todoDone.done" (click)="toggleTodoDone(i)"></ion-checkbox>
          <ion-label>{{ todoDone.name }}</ion-label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteTodo(i)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
